@using RollCall.Core.Dtos.Outputs;
@model ListEmployeeDto

@{
    ViewData["Title"] = "Empleados";
}

<h1 class="text-info">Lista de empleados</h1>
@{
    await Html.RenderPartialAsync("_FormSearchEmployee", new SearchEmployeeDto());
}

@if (ViewBag.IsMaximun)
{
    <p class="mt-2">
        @RollCall.Dto.ErrorMessageDto.Maximum
    </p>
}
else
{
    <p class="mt-2">
        <a asp-action="Create" class="text-success">
            <i class="fa fa-plus-circle"></i>
            Agregar nuevo
        </a>
    </p>
}
<div class="row">
    @foreach (var item in Model.ListEmployee)
    {
        await Html.RenderPartialAsync("_Card", item);
    }
</div>

<br />
@{
    await Html.RenderPartialAsync("_Pager", Model);
}