@using RollCall.Core.Dtos.Outputs;
@using RollCall.Core.Dtos.Inputs;
@model List<SecurityQuestionDtoOut>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @await Html.PartialAsync("_Create",new SecurityQuestionDtoIn())
    @await Html.PartialAsync("_List", Model)
</div>
