<div class="card">
  <div class="card-header">
    Horarios
  </div>
  <div class="card-body">
    <a routerLink="/add-schedule/" class="btn btn-success">Agregar nuevo</a>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Inicio de turno</th>
          <th>fin de turno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Areas; let index= index">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            <a routerLink="/edit-area/{{item.id}}" class="btn btn-warning text-white">Editar</a>
            <a (click)="delete(item.id,index);" class="btn btn-danger">Borrar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
