<div class="card">
  <div class="card-header">
    {{label}}
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="save();">
      <input type="hidden" formControlName="id" />
      <div class="mb-3">
        <label for="name">Número de empleado</label>
        <input type="text" class="form-control" formControlName="employeeNumber" placeholder="Número de empleado" disabled />
      </div>
      <div class="mb-3">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" />
      </div>
      <div class="mb-3">
        <label for="name">Apellidos</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Apellidos" />
      </div>

      <div class="mb-3">
        <label for="areaId">Area</label>
        <select formControlName="areaId" class="form-control">
          <option *ngFor="let item of areas" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="scheduleId">Horarios</label>
        <select formControlName="scheduleId" class="form-control">
          <option *ngFor="let item of schedules" value="{{item.id}}">{{item.schedule}}</option>
        </select>
      </div>

      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a routerLink="/list-employee/" class="btn btn-primary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
