<div class="card">
  <div class="card-header">
    Áreas
  </div>
  <div class="card-body">
    <a routerLink="/save-schedule/0" class="btn btn-success">Agregar nuevo</a>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Inicio de turno</th>
          <th>fin de turno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Schedules; let index= index">
          <td>{{item.id}}</td>
          <td>{{item.startTime| date:'HH:mm'}}</td>
          <td>{{item.stopTime | date:'HH:mm'}}</td>
          <td>
            <a routerLink="/save-schedule/{{item.id}}" class="btn btn-warning text-white">Editar</a>
            <a (click)="delete(item.id,index);" class="btn btn-danger">Borrar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
