<div class="card">
  <div class="card-header">
    {{label}}
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="save();">
      <input type="hidden" formControlName="id" value="0" />
      <div class="mb-3">
        <label for="name" class="form-label">Inicio de turno</label>
        <input type="time" class="form-control" formControlName="startTime" placeholder="Inicio de turno" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Fin de turno</label>
        <input type="time" class="form-control" formControlName="stopTime" placeholder="Fin de turno" />
      </div>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Agregar</button>
        <a routerLink="/list-schedule/" class="btn btn-primary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
