@model RollCall.Dto.ListEmployeeDto

<div>
    <ul class="pagination">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">@Html.ActionLink("Anterior",null, new { page = 1}, new{@class = "page-link" })</li>
        }
        else
        {
            <li class="page-item">@Html.ActionLink("Anterior",null, new { page = Model.CurrentPage - 1}, new{@class = "page-link" })</li>
        }

        @if (Model.CurrentPage == Model.CountPage)
        {
            <li class="page-item disabled">@Html.ActionLink("Siguiente",null, new{page = Model.CountPage}, new{@class = "page-link" } )</li>
        }
        else
        {
            <li class="page-item">@Html.ActionLink("Siguiente", null, new {page = Model.CurrentPage +1}, new{@class = "page-link" })</li>
        }
    </ul>
</div>