@model RollCall.Dto.EmployeeDto

@{
    ViewData["Title"] = "Agregar empleado";
}

<h1>Agregar empleado</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <input type="hidden" name="ListSecurityQuestions[]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoInBase64" class="control-label"></label>
                <input asp-for="PhotoInBase64" class="form-control" />
                <span asp-validation-for="PhotoInBase64" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="@(new SelectList(ViewBag.AreaList,"Id","Name"))">
                    <option>Seleccione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <select asp-for="ScheduleId" class="form-control" asp-items="@(new SelectList(ViewBag.ScheduleList,"Id","Schedule"))">
                    <option>Seleccione</option>
                </select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>    
            
            <h3>Preguntas de seguridad</h3>
            <h5>Agregue las preguntas con su respuesta, estas serán utilizadas para confirmar su asistencia</h5>
             <div class="form-group">
                <label asp-for="ListSecurityQuestions[0].Question" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[0].Question" id="ListSecurityQuestions[].Question" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[0].Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListSecurityQuestions[0].Answer" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[0].Answer" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[0].Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ListSecurityQuestions[1].Question" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[1].Question" id="ListSecurityQuestions[].Question" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[1].Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListSecurityQuestions[1].Answer" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[1].Answer" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[1].Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ListSecurityQuestions[2].Question" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[2].Question" id="ListSecurityQuestions[].Question" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[2].Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListSecurityQuestions[2].Answer" class="control-label"></label>
                <input asp-for="ListSecurityQuestions[2].Answer" class="form-control" />
                <span asp-validation-for="ListSecurityQuestions[2].Answer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary ">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
