@using RollCall.Dto
@{
    ViewData["Title"] = "Checador";
    Layout = "_LayoutCheckIn";
}
<div class="container-fluid" >

    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <h2 id="clock"></h2>
        <div class="form-group row">
            <div class="col-4">
                <p>Ingrese su codigo de empleado</p>
            </div>
            <div class="col-4">
                <input id="employeeNumber" type="number" class="form-control" autofocus onkeyup="onKeyUp(event)" />
                <span class="text-danger" id="error"></span>
            </div>
            <div class="col-4">
                <button type="button" onclick="searchEmployee();" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i>
                    Buscar
                </button>
            </div>
        </div>
        <div class="text-danger"></div>
    </div>
    <div class="card" id="divEmployee">
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="AssistanceStatus" id="entry" checked value="@AssistanceStatusDto.Entry"> Entrada
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="AssistanceStatus" id="lunchTimeDeparture" value="@AssistanceStatusDto.LunchTimeDeparture"> Salida al lonche
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="AssistanceStatus" id="lunchTimeReturn" value="@AssistanceStatusDto.LunchTimeReturn"> Regreso del lonche
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="AssistanceStatus" id="exit" value="@AssistanceStatusDto.Exit"> Salida
                        </label>
                    </div>
                </div>
                <div class="col-5">
                    <input type="hidden" id="employeeId" />
                    <p id="pName" class="text-info"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="text-info" id="pSecurityQuestion"></label>
                    <input class="form-control" id="answer" maxlength="150" />
                    <button type="button" onclick="verifyAnswer();" class="btn btn-primary">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts{
<script src="~/js/paseDeLista.js"></script>
}