@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2 id="clock"></h2>
    <p>Ingrese su codigo de empleado</p>
    <input id="employeeNumber" type="text" class="form-control" autofocus />
    <br />
    <button type="button" onclick="searchEmployee();" class="btn btn-primary">
        Buscar
    </button>
</div>
<div class="card" id="divEmployee">
    <div class="card-body">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-7">
                <input type="hidden" id="employeeId" />
                <p id="pName" class="text-info">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="text-info" id="pSecurityQuestion"></label>
                <input class="form-control" id="answer" maxlength="150" />
                <button type="button" onclick="verifyAnswer();" class="btn btn-primary">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    var securityQuestionId;
    $("#divEmployee").hide();

    setInterval(function(){
        var time;
        var now;

        now = new Date();
        time = now.getHours()+":"+now.getMinutes()+":"+now.getSeconds();
        //console.log(time);
        document.getElementById("clock").innerHTML = time;
    },1000);

    function searchEmployee(){
        if(document.getElementById("employeeNumber").value !== ""){
            var url;

            awaitMoment();
            url = "api/Employees/"+document.getElementById("employeeNumber").value;
            fetch(url)
            .then(response=>{
                //console.log(response);
                if(response.ok){
                    return response.json();
                }else{                                    
                   return response.json();
                }
            })
            .then(data=>{
                //console.log(data);
                Swal.close();
                $("#divEmployee").show();
                document.getElementById("employeeNumber").innerHTML = "";
                document.getElementById("employeeId").innerHTML = data.id;
                document.getElementById("pName").innerHTML = data.name + " " + data.lastName;
                getSecurityQuestion(data.id);
            })
            .catch(error=>{
                console.log(error);
                anErrorOcurred();
            });
        }else{
            document.getElementById("error").innerHTML = "Anote un número";
        }
    }

    function getSecurityQuestion(employeeId){
        var url;

        url = "api/SecurityQuestions/Employee/"+employeeId+"/RandomSecurityQuestion";
        fetch(url)
        .then(response =>{
            if(response.ok){
                return response.json();
            }else{
                throw response.error;
            }
        })
        .then(securityQuestion=>{
            //console.log(data);
            securityQuestionId = securityQuestion.id;
            document.getElementById("pSecurityQuestion").innerHTML = securityQuestion.question;
        })
        .catch(error=>{
            console.log(error);
        });
    }

    function verifyAnswer(){
        var url;
        var data;

        awaitMoment();
        data = {
            SecurityQuestionId : securityQuestionId,
            Answer : document.getElementById("answer").value
        }
        url = "api/Asistances/Register";
        fetch(url, {
            method :"post",
            body : JSON.stringify(data),
            headers:{
             'Content-Type': 'application/json'
            }
        })
        .then(response=>{
             if(response.ok){
                return response.json();
            }else{
                throw response.error;
            }
        })
        .then(register=>{
            //console.log(register);
            if(register.isRegister){
                $("#divEmployee").hide();
                document.getElementById("employeeNumber").innerHTML = "";
                document.getElementById("pSecurityQuestion").innerHTML = "";
                document.getElementById("pName").innerHTML = " ";
                loggedData();
            }else{
                Swal.fire({
                  position: 'center',
                  icon: 'error',
                  title: 'Intente nuevamente',
                  showConfirmButton: false,
                  timer: 1500
                });
            }
        })
        .catch(error=>{
            console.log(error);
            anErrorOcurred();
        });
    }

    function anErrorOcurred(){
         Swal.fire({
            title: 'Ocurrio un error',
            icon: 'error'
        });
    }

    function loggedData(){
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Datos registrados',
          showConfirmButton: false,
          timer: 1500
        });
    }

    function awaitMoment(){
        Swal.fire({
            icon: 'info',
            title: 'Un momento por favor...',
            allowOutsideClick: false,
            showConfirmButton: false
        });
    }
</script>
}