<div class="card">
  <div class="card-header">
    Guardar empleado
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="add();">
      <input type="hidden" formControlName="id" value="0"/>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" formControlName="description" placeholder="Descripción" />
      </div>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Agregar</button>
        <a routerLink="/list-area/" class="btn btn-primary">Cancelar</a>
      </div>
    </form>
  </div>
</div>
